*{
    margin: 0;
    padding: 0;
    font-family: 'Reem Kufi Ink', sans-serif;
}
nav{
    background-color: darkred;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.Logo{
    width: 180px;
    padding: 10px 0;
    cursor: pointer;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul{
    width: 100%;
    margin-top: 10px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: auto;
    padding: 4px 20px;
}
nav.sticky{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 6%;
    background: darkred;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100000;
    transition: ease-in;
}
nav.sticky .nav-links{
    text-align: right;
    padding: 0px 185px;
}
nav.sticky ul{
    margin: auto;
    padding: 4px 3px;
}
nav.sticky ul li{
    list-style: none;
    display: inline-block;
    margin: auto;
    padding: 4px 20px;

}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.8s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.sub-menu-1{
    display: none;
}
.nav-links ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: darkred;
    margin-top: 7px;
    margin-left: 15px;
    padding: 8px;
}
.nav-links ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
    text-align: left;
    width: 180px;
}
.nav-links ul li:hover .sub-menu-1 ul li{
    padding: 10px;
}
.sub-menu-2{
    display: none;
}
.nav-links ul li:hover .sub-menu-2{
    display: block;
    position: absolute;
    background: darkred;
    margin-top: 7px;
    margin-left: 15px;
    padding: 8px;
}
.nav-links ul li:hover .sub-menu-2 ul{
    display: block;
    margin: 10px;
    text-align: left;
    width: 180px;
}
.nav-links ul li:hover .sub-menu-2 ul li{
    padding: 10px;
}
/*About Me*/
.aboutme {
    padding-left: 120px;
}
h1{

    letter-spacing: 1px;
    font-size: 60px;
    color: #2f3542;
    padding-bottom: 40px;
}
p{
    letter-spacing: 2px;
    width: 90%;
    font-size: 22px;
}
/* ---Footer--- */
.Footer{
    width: 100%; 
    text-align: center;
    padding: 27px 0px;
    background-color: rgb(31, 29, 29);

}
h7{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 5px;
    color: #fff;
}
pAccount{
    color: white;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    padding: 8px;
    word-spacing: 5px;
}
pCredits{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 5px;
    color: #fff;
    border-bottom: solid white;
    border-radius: 8px;

}
.Contact-Link{
    font-size: 18px;
    padding: 5px 100px;
    text-align: center;
    margin: auto;
    padding-bottom: 16px;
    cursor: pointer;
}
.Contact-Link .fa{
    color: white;
    padding: 13px 13px;
}
.fa-heart{
    color: red;
}
nav .fa{
    display: none;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
.img1{
    border-radius: 50%;
}
.image {
    padding-top: 100px;
    padding-bottom: 120px;
    flex-basis: 70%;
    order: 2;
    border-radius: 50%;
  }
.text {
    color: #57606f;
    padding-left: 20px;
}